.tempDrawer{
    margin-top: 50px;
}
.BoxSize{
    margin-top: 50px;
}

.MuiPaper-root MuiPaper-elevation MuiPaper-elevation16 MuiDrawer-paper MuiDrawer-paperAnchorLeft css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    margin-top: 50px;
}